<div class="min-h-screen flex flex-col justify-center px-2">
  <div class="max-w-xl mx-auto">
    <h1 class="my-4 text-5xl font-semibold sm:text-6xl">Scrumboard App</h1>
    <h2 class="text-3xl font-semibold">Please log in</h2>
    <p>Not a member yet? <a routerLink="/register" class="btn btn-link">Create an account</a></p>
    <form (ngSubmit)="login()">
      <label for="username" class="form-control">
        <span class="label">User name</span>
        <input
          class="input input-bordered"
          type="text"
          id="username"
          #usernameInput
          name="username"
          [(ngModel)]="username"
          required
        />
      </label>
      <label for="password" class="form-control">
        <span class="label">Password</span>
        <input
          class="input input-bordered"
          type="password"
          id="password"
          #passwordInput
          name="password"
          [(ngModel)]="password"
          required
        />
      </label>
      <p class="text-error">{{loginErrorMessage}}</p>
      <button class="btn btn-primary mt-4" type="submit" [disabled]="usernameInput.validity.valueMissing || passwordInput.validity.valueMissing">Log in</button>
    </form>
  </div>
</div>
