<table class="table max-w-2xl mx-auto">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Assigned To</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (task of tasks; track task.id) {
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.due_date | date }}</td>
      <td>{{ task.assigned_to.username }}</td>
      <td>{{ task.status }}</td>
      <td><button class="btn btn-primary">edit</button></td>
    </tr>
    }
  </tbody>
</table>
